{% load mytags %}
<div class="compln">
    <div class="row">
        <div class="col-sm-12 col-md-3">

        </div>
        <div class="col-sm-12 col-md-6 coms">
            {%for data in datas%}
            <div class="card complns">
                <div class="card-body">
<!--                     <div class="row">-->
<!--                        <div class="col">-->
<!--                            User ID:-->
<!--                        </div>-->
<!--                        <div class="col com_lbl">-->
<!--                            {{Com.User_ID}}-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="row">
                        <div class="col">
                            Submitted on:
                        </div>
                        <div class="col com_lbl">
                            {{data.0.DateTime}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Submitted By:
                        </div>
                        <div class="col com_lbl">
                            {{data.0.User_ID.get_full_name}} ({{data.0.User_ID.username}})
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Seen By:
                        </div>
                        <div class="col com_lbl">

                            {% if data.0.Seen_By|evalutae|get_lenght == '0' %}
                               Unseen
                            {% else %}
                                <select class="sel_dep">
                                    {%for itm in data.0.Seen_By|evalutae|get_dict_value %}
                                      <option>{{itm}}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            Shares:
                        </div>
                        <div class="col com_lbl">
                            {% if data.0.Shares|evalutae|get_lenght == '0' %}
                               No Share
                            {% else %}
                                <select class="sel_dep">
                                    {%for itm in data.0.Shares|evalutae|get_dict_value %}
                                      <option>{{itm}}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            Replies:
                        </div>
                        <div class="col com_lbl">

                            {% if data.1|get_lenght == '0' %}
                               No Replies
                            {% else %}
                                <select class="sel_dep" id="replies_sel_{{data.0.id}}" onchange="Onclick_Replies_Option('{{data.0.id}}')">
                                    <option value="">{{data.1|get_lenght}}</option>
                                    {%for itm in data.1%}
                                      <option class="replies_optn") value="{{itm.id}}">
                                          {{itm.Replied_By.get_full_name}}
                                      </option>
                                    {% endfor %}
                                </select>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <div class="row justify-content-center">
                        <div class="col ">
                            <button class="g-button" onclick="Report_Complain('{{data.0.id}}')">Report</button>
                        </div>
                        <div class="col ">
                            <button class="g-button" onclick="Reply_to_Comment('{{data.0.id}}')">Reply</button>
                        </div>
                        <div class="col ">
                            <button class="g-button" onclick="Share_mdl('{{data.0.id}}')"
                            data-toggle="modal" data-target="#exampleModalCenter" type="button"><i class="far fa-share-square">
                                </i>Share</button>
                        </div>
                        <div class="col ">
                            <button class="g-button" disable id="my_com_view_btn{{data.0.id}}" onclick="viewcomplain('{{data.0.id}}')">View</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-12 col-md-3 new_cmp">
            <button onclick="newComplain()" data-toggle="tooltip" data-placement="bottom"
                title="New Comment"
                class="addc">
                <i class="fas fa-plus-circle"></i>&nbsp;New Complain
            </button>
        </div>
    </div>
</div>


<!--<div class="compln" id="com_cont">-->
<!--    <div class="new_cmp">-->
<!--        <button onclick="newComplain()" data-toggle="tooltip" data-placement="bottom"-->
<!--                title="New Comment"-->
<!--                class="addc"><i class="fas fa-plus-circle"></i>&nbsp;New Complain</button>-->
<!--    </div>-->
<!--    <div>-->
<!--        <div class="container-fluid" style="margin-top: -30px">-->
<!--            <div class="row">-->
<!--                <div class="col-sm-1 col-md-3 align-self-start">-->
<!--                </div>-->
<!--                <div class="col-sm-10 col-md-6 align-self-center coms">-->
<!--                    {%for Com in complain%}-->
<!--                    <div class="card complns">-->
<!--                        <div class="card-header">-->
<!--                            Subject:&nbsp;{{Com.Subject}}-->
<!--                            Department:&nbsp;{{Com.Department}}-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            Status:-->
<!--                            <div class="row">-->
<!--                                <div class="col">-->
<!--                                    Submitted on:-->
<!--                                </div>-->
<!--                                <div class="col">-->
<!--                                    {{Com.DateTime}}-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="row">-->
<!--                                <div class="col">-->
<!--                                    Seen Status:-->
<!--                                </div>-->
<!--                                <div class="col">-->
<!--                                    S-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="row">-->
<!--                                <div class="col">-->
<!--                                    Seen Date:-->
<!--                                </div>-->
<!--                                <div class="col">-->
<!--                                    S-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="row">-->
<!--                                <div class="col">-->
<!--                                    Seen By:-->
<!--                                </div>-->
<!--                                <div class="col">-->
<!--                                    S-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="card-footer text-center">-->
<!--                            <div class="row justify-content-center">-->
<!--                                <div class="col ">-->
<!--                                    <button class="g-button">Report</button>-->
<!--                                </div>-->
<!--                                <div class="col ">-->
<!--                                    <button class="g-button"><i class="far fa-share-square"></i>&nbsp;Share</button>-->
<!--                                </div>-->
<!--                                <div class="col ">-->
<!--                                    <button class="g-button">View</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--                <div class="col-sm-1 col-md-3 align-self-end">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->


 <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"  role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Share</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col">Share via Email:</div>
              <div class="col">
                  <i onclick="Send_Email()" class="far fa-share-square g-logo"></i>
              </div>
          </div>
          <br>
          <div class="row">
              <div class="col">Download Pdf:</div>
              <div class="col"><i onclick="GeneratePdf()" id="mdl_pdf_btn" class="far fa-file-pdf g-logo"></i></div>
          </div>
      </div>
    </div>
  </div>
</div>
