<div class="row ncr">
    <div class="col">
        <select semmis>
            <option>Select Department</option>
            <option>Education Minister</option>
            <option>Health Minister</option>
            <option>Finance Minister</option>
            <option>LOL Minister</option>
        </select>
    </div>
</div>
<div class="row ncr">
    <div class="col">
        <textarea type="text" class="semmis" placeholder="Your complain here"></textarea>
    </div>
</div>
<div class="row ncr">
    <div class="col">
        <label>Attachments(Optional):</label>
        <label for="cfl" class="lblbtn"
        data-toggle="tooltip" data-placement="bottom" title="Upload File"><i class="fas fa-upload"></i></label>
        <input type="file" id="cfl">
    </div>
</div>

<style>
    #cfl{
        display: none;
    }
    .lblbtn{
        background-color: #84a9ac;
        border: 0;
        border-radius: 3px;
        padding: 3px;
    }
    .lblbtn:hover{
        background-color: #84b9ac;
        cursor: pointer;
    }
    .semmis{
        {#border: 0;#}
        border-radius: 3px;
    }
    .ncr{
        margin: 5px;
    }
</style>