body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #3b6978;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  /*margin-left: 50px;*/
  text-decoration: none;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.icn{
  font-size: 20px;
}

.nav_itm{
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 15px;
  color: rgba(1,1,1,0.8);
  display: block;
  transition: 0.3s;
}

.nav_itm:hover{
  color: white;
  background-color: rgba(1,1,1,0.3);
  /*background-color: brown;*/
  border-left: 3px solid rgba(182,2,33,0.9);

}

.toggler_sm{
  position: absolute;
  top: 0;
  /*right: 15px;*/
  font-size: 36px;
  /*margin-left: 2px;*/
  text-decoration: none;
  display: none;
}

.closebtn_sm{
  position: absolute;
  top: 0;
  color: rgba(1,1,1,0.8);
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  display: none;

}

@media (max-width: 800px) {
  .sidenav{
    width: 0;
  }
  .closebtn{
    display: none;
  }
  .closebtn_sm{
    display: block;
  }

  .toggler_sm{
    display: block;
  }


}

@media (min-width: 800px) {
  .sidenav{
    width: 200px;
    /*background-color: red;*/
  }
  .closebtn{
    display: block;
  }
}
